.racecourse {
  position: relative;
  bottom: 170px;
  width: 100%;
  height: 1000px;
  background-image: url('racecourse.jpg');
  background-repeat: no-repeat;
}

img {
  position: absolute;
  margin-top: 460px;
  margin-left: 330px;
  width: 80px;
  height: 40px;
  z-index: 2;
}

.northsouth {
  position: absolute;
  width: 40px;
  height: 80px;
}

.instructions {
  position: absolute;
  top: 920px;
  padding: 20px;
  font-size: 3em;
  line-height: 10px;
  color: black;
  background-color: lightblue;
  border: thick blue double;
}

.mph {
  position: absolute;
  font-size: 1.2em;
  color: gold;
  z-index: 1;
  text-align: center;
  margin-top: 26px;
}

.whiteblock {
  position: absolute;
  top: 350px;
  left: 980px;
  border: thick purple double;
  border-radius: 10px;
  width: 120px;
  height: 100px;
  background-color: black;
}
